---
import Base from "../../layouts/Base.astro";
import { getCollection } from "astro:content";
import { readingTime } from "../../utils/readingTime";

export async function getStaticPaths() {
  const posts = await getCollection("posts", ({ data }) => data.draft !== true);
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const { words, minutes } = readingTime(post.body);
---

<Base
  title={`${post.data.title} - jokenpo.dev`}
  description={post.data.description}
>
  <article
    class="prose dark:prose-invert max-w-none lg:prose-p:max-w-[80ch] lg:prose-p:mx-auto lg:prose-headings:mx-10 lg:prose-blockquote:max-w-[70ch] lg:prose-blockquote:mx-auto lg:prose-li:max-w-[78ch] lg:prose-li:mx-auto lg:prose-pre:max-w-[85ch] lg:prose-pre:mx-auto lg:prose-table:max-w-[100ch] lg:prose-table:mx-auto"
  >
    <h1>
      {post.data.title}
    </h1>
    <div
      class="max-w-[82ch] flex flex-wrap gap-2 text-[0.95rem] font-mono text-gray-500 dark:text-gray-500 italic tracking-wide m-auto"
    >
      <span
        >Publicado em: {
          post.data.date.toISOString().slice(0, 10)
        }</span
      >
      <span>· {words} palavras · {minutes} minutos de leitura</span>
      {
        post.data.tags && (
          <span class="flex gap-2">
            {post.data.tags.map((tag: string) => (
              <span class="text-blue-700 dark:text-brand">#{tag}</span>
            ))}
          </span>
        )
      }
    </div>

    <Content />
  </article>
</Base>
